/*
	* Hacer que los adjetivos esten en un grid de una linea con 4 columnas.
*/
.adjetivos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	place-items: center;
	margin: 20px 0;
}

.adjetivos-objetos {
	position: relative;
	display: flex;
	align-items: center;
}

/*
	* Darle el formato de tamaño al icono y los titulos.
*/
.adjetivos-objetos_icon {
	font-size: 50px;
	margin-right: 5px;
}

.adjetivos-objetos_title {
	margin-bottom: 5px;
}

/*
	* Media query de 750px, que hace que el grid sea de 2 colunmas y filas.
*/
@media screen and (max-width: 750px) {
	.adjetivos {
		grid-template-columns: repeat(2, 1fr);
	}
}
