.header {
	display: flex;
}

.header_logo {
	display: flex;
	align-items: center;
}

.header_logo_img {
	height: 50px;
	width: 50px;
}

.header_carrito {
	position: relative;
}

.header_carrito_count {
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_icon {
	font-size: 55px;
	color: black;
}

.search {
	display: inline-block;
	position: relative;
}

.search input[type="text"] {
	width: 200px;
	padding: 10px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
	background-color: #4e99e9;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.9s ease;
}

.search button[type="submit"]:hover {
	transform: scale(1.1);
	color: rgb(255, 255, 255);
	background-color: blue;
}
