/*
	Importes fincipales de mi pagina.
	* Posible actualizacion constante
	? Mirar librerias para hacer mejor mi pagina
*/

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("./header.css");
@import url("./footer.css");
@import url("./adjetives.css");

/*
	* Resetear los valores 
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", "Kanit";
}

::selection {
	background-color: #30cfd0;
}

.btn {
	padding: 16px 24px;
	border-radius: 16px;
	border: 0px;
}

.btn-primary {
	background-color: #30cfd0;
	color: white;
}

.btn-primary:hover {
	background-color: #00adb5;
}

.btn-secondary {
	background-color: #edf4f7;
	color: #051923;
}

.card-img-top {
	min-height: 286.64px;
}
/*
	* Darle formato a la barra de scroll lateral
	? Mejorarla
	TODO: Mirar mas formatos para poder mejorarla
*/
::-webkit-scrollbar {
	width: 8px;
	padding-right: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #00adb5;
	border-radius: 8px;
}
