@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("./header.css");
@import url("./footer.css");
@import url("./adjetives.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", "Kanit";
}

body {
	background-color: #95a5a6;
	background: linear-gradient(to right, #e2e2e2, #95a5a6);
}

::-webkit-scrollbar {
	width: 8px;
	margin-right: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #00adb5;
	border-radius: 8px;
}
