<footer>
	<div class="footer-izq">
		<div class="logo">
			<img
				src="../assets/images/logo-sin-fondo.png"
				alt="logo empresa"
				width="60%"
			/>
		</div>

		<div class="lista">
			<ul>
				<li><a href="#">Centro de ayuda</a></li>
				<li><a href="#">Servicio al consumidor</a></li>
				<li><a href="#">Escribenos</a></li>
				<li><a href="#">Servicio Telefónico</a></li>
			</ul>

			<ul>
				<li><a href="#">Politica de privacidad</a></li>
				<li><a href="#">Condiciones de compra</a></li>
				<li><a href="#">Opiniones de clientes</a></li>
				<li><a href="#">Avisos de privacidad y cookies</a></li>
			</ul>
		</div>
	</div>

	<div class="footer-der">
		<div>
			<h5>Únete a nuestra newsletter y recibe ofertas diarias</h5>
			<form action="">
				<input type="email" name="email" id="email" placeholder="Email" />
				<button type="submit" id="suscribir">Suscribir</button>
				<label class="cyberpunk-checkbox-label">
					<input type="checkbox" class="cyberpunk-checkbox" />
					Acepto la <a href="privacidad.html">politica de privacidad</a> de esta
					web
				</label>
			</form>
		</div>

		<hr />

		<div class="footer_social-icons">
			<h3>Siguenos en las redes</h3>
			<div class="footer_iconos">
				<a href="#" class="footer_icons"
					><img src="../assets/icons/facebook.webp" alt=""
				/></a>
				<a href="#" class="footer_icons"
					><img src="../assets/icons/instagram.png" alt=""
				/></a>
				<a href="#" class="footer_icons"
					><img src="../assets/icons/twitch.svg" alt=""
				/></a>
				<a href="#" class="footer_icons"
					><img src="../assets/icons/youtube.svg" alt=""
				/></a>
			</div>
		</div>
	</div>
</footer>
